<!-- PAGE COMPLETED CONVERSION TO RAILS -->

<div class='gameboard'>
  <h3>pick a card to add to the deck</h3>

    <div class='card_grid'>
          <% Tempselfie.all.each do |selfie| %>

            <div class='card'>
                <a href="/cards/generate/<%= selfie.instagram_username %>"><p><img src='<%= selfie.photo_url%>'></p></a>
                </h3><%= selfie.instagram_username %></h3>
            </div>

        <% end %>
    </div>

</div>
