<!-- no edits made to this page yet -->


<div class="update">
<form action="/cards/<%= @card.id %>/update" method="POST">
  <p>
    Are they male?
    <input type="text" name="gender_male" value="false">
  </p>
  <p>
    Are they male?
    <input type="text" name="gender_female" value="false">
  </p>
  <p>
    Are they wearring glasses?
    <input type="text" name="accessory_eyewear_glasses" value="false">
  </p>
  <p>
    Are they wearring a hat?
    <input type="text" name="clothing_hat" value="false">
  </p>
  <p>
    Do they have facial hair?
    <input type="text" name="hair_facial" value="false">
  </p>
  <p>
    Do they have a beard?
    <input type="text" name="hair_facial_beard" value="false">
  </p>
  <p>
    Do they have a mustache?
    <input type="text" name="hair_facial_mustache" value="false">
  </p>
  <p>
    Are they wearring jewelry?
    <input type="text" name="jewelry" value="false">
  </p>
  <p>
    Are they wearring earrings?
    <input type="text" name="jewelry_piercing_ear" value="false">
  </p>
    <p>
    Do they have any facial piercings?
    <input type="text" name="jewelry_piercing_facial" value="false">
  </p>
  <p>
    Do they have long hair?
    <input type="text" name="hair_length_long" value="none" >
  </p>
  <p>
    Do they have short hair?
    <input type="text" name="hair_length_short" value="none" >
  </p>
  <p>
    Do they have brown hair??
    <input type="text" name="hair_color_brunette" value="none">
  </p>
  <p>
    Do they have brown eyes?
    <input type="text" name="eye_color_brown" value="none" >
  </p>
  <p>
    Do they have blonde hair?
    <input type="text" name="hair_color_blonde" value="none" >
  </p>
  <p>
    Do they have red hair?
    <input type="text" name="hair_color_red" value="none" >
  </p>
  <p>
    Do they have black hair?
    <input type="text" name="hair_color_black" value="none" >
  </p>
  <p>
    Do they have green eyes?
    <input type="text" name="eye_color_green" value="none" >
  </p>
  <p>
    Do they have blue eyes?
    <input type="text" name="eye_color_blue" value="none" >
  </p>



  <input type="submit" value="Create card" />
</form>
</div>
