
/*zero edits made to stylesheet*/

#logo {
  margin: auto;
  width: 200px;
  height: 240px;
}

.gameboard {
  background: #009DE1;
  color: red;
  font-size: 30px;
  max-width: 810px;
  margin: auto;
  border-radius: 20px;
}


body { 
  margin-top: 70px;
  text-align: center;
  background: white;
  background: 
  url(images/guess_who_logo_small.png) top left fixed no-repeat,
  url(images/guess_who_background.jpg) top center repeat-y;
  font-family: helvetica;
  text-shadow: 1px 1px black; 
  font-size: 20px;
  font-family: 'Shadows Into Light', cursive;
}
.page{
  margin-top: 5px;
}
a {
  font-family: 'Oswald', sans-serif;
  color: #009DE1;
  text-decoration: none;
}
a:visited {
  font-family: 'Oswald', sans-serif;
  color: #009DE1;
}

.wrong {
  line-height: 50px;
  font-size: 50px;
  background: rgba(50, 50, 50, .1);
  border-radius: 85px;
}

.question_block {
  float: right top;
  margin-left: 10px;
}

h1 {
  margin-top: auto;
  font-family: 'Shadows Into Light', cursive;
  font-size: 68px;
  text-shadow: 2px 4px black; 
  color: #BBCCB5;
}
p {
  font-size: 28px;
  color: white;
  line-height: 4px;
  font-family: 'Oswald', sans-serif;
}
.update {
  text-align: right;
  margin-left: 50px;
  background: rgba(50, 50, 50, .5);
  max-width: 700px;
  margin: auto;
}
input {
  border: 0;
  padding: 5px;
  font-size: 18px;
}

input[type="submit"] {
  background: #009DE1;
  color: white;
}

.card {
  background-color: rgba(225, 225, 225, .9);
  float: left;
  margin: 10px;
  border: solid 5px rgba(120, 120, 150, 0.8);
  border-radius: 20px;
  padding: 10px;
  color: #E41B2D;
  line-height: 3px;
  font-size: 22px;
}

.card_focus {
  background-color: rgba(225, 225, 225, .9);
  float: center;
  margin: 40px auto auto auto;
  width: 450px;
  border: solid 5px rgba(120, 120, 150, 0.8);
  border-radius: 20px;
  padding: 30px 10px;
  color: #E41B2D;
  line-height: 40px;
  font-size: 28px;
}

.card_focus img {
  width: 400px;
  height: 400px;
}

.card img {
  width: 220px;
  height: 220px;
}