<!DOCTYPE html>
<html>
<head>
  <title>Guess Whom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1> Guess Whom ! </h1>

	  <div class="page">
  <nav>
    <a href='/reset_game'>Play a new game!</a> | <a href='/cards/new'>Add a selfie to the deck</a> | <a href='/'>View/Edit the deck</a>
  </nav>
<%= yield %>
</div>

</body>
</html>
