<!-- no edits made to this page yet -->


<html>

<head>
  <title>Guess Who</title>
  <link rel="stylesheet" type="text/css" href="/reset.css" />
  <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>


<body>
 <!--  <img id="logo" src="images/guess_who_logo_transparent.png"/> -->
  <div class="page">
  <nav>
    <a href='/reset_game'>Play a new game!</a> | <a href='/generate_new_card'>Add a selfie to the deck</a> | <a href='/'>View/Edit the deck</a>
  </nav>

  <%= yield %>
</div>
</body>



</html>
