<!-- no edits made to this page yet -->


<form action="/picture" method="POST">
    <input type="text" name="username" placeholder="instagram username" />
  </p>
  <p>
    <textarea name="description" placeholder="Enter a photo captions"></textarea>
  </p>
  <p>
    <textarea name="url" placeholder="Enter photo url"></textarea>
  </p>
  <input type="submit" value="Add Photo" />
</form>
