<!-- no edits made to this page yet -->


<h3>YOU WIN!</h3>


<div class="card_focus">
        <div>
          <p><img src="<%= Game_engine.winner.instagram_picture_url %>"/></p>
          <h2><%= Game_engine.winner.username %></h2>
          
        </div>
  </div>



<a href='/reset_game'play again?</a>


<h3><a href='/reset_game'> Play Again? </a></p></h3>
